
  <nav class="navbar">
    <div class="logo">
      <img  src="./images/logo.svg" alt="logo">
    </div>
  
    <div class="hdr_projects">
      <ul>
        <li class="menu_item">
          <img src="images/summary.png" alt="ic">
          <a href="#summary">Summary</a>
        </li>
        <li class="menu_item">
          <img src="images/hours.png" alt="ic">
          <a href="#hours">Hours</a>
        </li>
        <li class="menu_item">
          <img src="images/projects.png" alt="ic">
          <a href="#projects">Projects</a>
        </li>
        <li class="menu_item">
          <img src="images/time.png" alt="ic">
          <a href="#time_reports">Time reports</a>
        </li>
        <li class="menu_item">
          <img src="images/check.png" alt="ic">
          <a href="#confirmation">Confirmation</a>
        </li>
        <li class="menu_item">
          <img src="images/emvelope.png" alt="ic">
          <a href="#mailer">Mailer</a>
        </li>
        <li class="menu_item">
          <img src="images/compare.png" alt="ic">
          <a href="#compare">Compare</a>
        </li>
      </ul> 
    </div>
    <div class="avatar"> <img  src="images/avatar.png" alt="avatar"></div>
  
  </nav>

