<header class="header header_view-lead">
  
  <div class="header__logo logo">
    <img class="img" src="./images/logo.svg" alt="logo">  
  </div>

  <nav class="nav nav__menu">
    <div class="nav__item">
      <img class="nav__img img" src="images/summary.png" alt="ic">
      <a class="nav__lnk lnk" href="#summary">Summary  </a>
    </div>
    <div class="nav__item">
      <img class="nav__img img" src="images/hours.png" alt="ic">
      <a class="nav__lnk lnk" href="#hours">Hours</a>
    </div>
    <div class="nav__item">
      <img class="nav__img img" src="images/projects.png" alt="ic">
      <a class="nav__lnk lnk" href="#projects">Projects</a>
    </div>
    <div class="nav__item">
      <img class="nav__img img" src="images/time.png" alt="ic">
      <a class="nav__lnk lnk" href="#time_reports">Time reports</a>
    </div>
    <div class="nav__item">
      <img class="nav__img img" src="images/check.png" alt="ic">
      <a class="nav__lnk lnk" href="#confirmation">Confirmation</a>
    </div>
    <div class="nav__item">
      <img class="nav__img img" src="images/envelope.png" alt="ic">
      <a class="nav__lnk lnk" href="#mailer">Mailer</a>
    </div>
    <div class="nav__item">
      <img class="nav__img img" src="images/compare.png" alt="ic">
      <a class="nav__lnk lnk" href="#compare">Compare</a>  
    </div>  
    
    <div class="nav__line line"> </div>  
  </nav>

  <div class="header__avatar avatar"> <img class="img" src="images/avatar.png" alt="avatar"></div>
  <div class="header__line line"></div>
</header>
