<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css" />
    <title><%= title %></title>
    
  </head>
  <body>
     <!--  header  -->
    <%- include('./partials/_header') %>
    
    <!--  filters  -->
    <div class="filters">
      <div class="filters_section">
        <form>
          <label for="name">Dev</label><br>
          <select class="select_text" id="name" name="name">
            <option value="Jenny Wilson">Jenny Wilson</option>
          </select>
        </form>
      </div>
      <div class="filters_section">
         <form>
          <label for="status">Status</label><br>
          <select class="select_text" id="status" name="status">
            <option value="All Statuses">All Statuses</option>
          </select>
      </form>
      </div>
      <div class="filters_section ">
        <form>
          <input type="checkbox" checked="checked">
          <label for="efficiency"> Show efficiency</label>
        </form>
      </div>
      <button class="btn_apply">Apply</button>
      <button class="btn_reset">Reset filters</button>
    </div>

    <!--  left tab proj info    -->
    <div class="card proj info">
      <div class="decor decor-med"></div>
      <div class="scroll"></div>
      <div class="content">
        <h4 class="font_16_bold color-white" >Project Information</h4>
        <table>
          <tr>
            <td class="font_14_semibold color-lil">Project name</td>
            <td class="font_14_regular color-light">Science & Information platform</td>
          </tr>
          <tr>
            <td class="font_14_semibold color-lil">Team lead</td>
            <td class="font_14_regular color-light">Ralph Edwards</td>
          </tr>
          <tr>
            <td class="font_14_semibold color-lil">Created</td>
            <td class="font_14_regular color-light">25/06/2019</td>
          </tr>
          <tr>
            <td class="font_14_semibold color-lil">Finished</td>
            <td class="font_14_regular color-light">30/06/2019</td>
          </tr>
          <tr>
            <td class="font_14_semibold color-lil">Time</td>
            <td ><img src="images/billable.png" alt="ic"></td>
          </tr>
          <tr>
            <td class="font_14_semibold color-lil">Label</td>
            <td><img src="images/hourly.png" alt="ic"></td>
          </tr>
          <tr>
            <td class="font_14_semibold color-lil">Tag</td>
            <td class="font_14_regular color-light tag"> Page Mockup</td>
          </tr>
          <tr>
            <td class="font_14_semibold color-lil">Status</td>
            <td class="font_14_regular color-error"> Non Completed</td>
          </tr>
          <tr>
            <td class="font_14_semibold color-lil">Team</td>
            <td class="font_14_regular color-light"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sed laudantium modi harum expedita dolor ab cupiditate delectus voluptatem vitae vero, nihil, similique nostrum, iste velit praesentium accusantium quae possimus. </td>
          </tr>
        </table>
      </div>
    </div>

 
    <div class="card proj time">
      <div class="decor decor-med"></div>
      <div class="content">
        <h4 class="font_16_bold color-white">Project Time</h4>
        <table class="proj_time">
          <col> Col 1 
          
          <tr>
            <td class="font_14_semibold color-lil">Project name</td>
            <td class="font_14_regular color-light">Science & Information platform</td>
          </tr>
          <tr>
            <td class="font_14_semibold color-lil">Team lead</td>
            <td class="font_14_regular color-light">Ralph Edwards</td>
          </tr>
        </col>
          <col> Col 2 
          <tr>
            <td class="font_14_semibold color-lil">Created</td>
            <td class="font_14_regular color-light">25/06/2019</td>
          </tr>
          <tr>
            <td class="font_14_semibold color-lil">Finished</td>
            <td class="font_14_regular color-light">30/06/2019</td>
          </tr>
        </col>
          
        </table>
      </div>
      
    </div>
    

<!-- 
    

    <div>Efficiency</div>
    
    <div>List</div>
    <div></div>

    <div>Pagination</div> -->

    <%- include('./partials/_footer') %>
  </body>
</html>
