@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
.color-primary {
  color: #171E28;
}

.color-secondary {
  color: #242B35;
}

.color-main {
  color: #8F7FFF;
}

.color-white {
  color: #FFFFFF;
}

.color-light {
  color: #B6B4C6;
}

.color-lil {
  color: #C7BFFF;
}

.color-error {
  color: #FF6A59;
}

.color-green {
  color: #27AE60;
}

.font, .font_16, .font_16_bold, .font_14, .font_16_regular, .font_14_bold, .font_14_semibold, .font_14_regular {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
}

.font_14, .font_16_regular, .font_14_bold, .font_14_semibold, .font_14_regular {
  line-height: 21px;
}

.font_16, .font_16_bold {
  font-size: 16px;
  line-height: 22px;
}

/* 14 regular */
.font_14_regular {
  font-weight: 400;
}

/* 14 semibold */
.font_14_semibold {
  font-weight: 600;
}

/* 14 bold */
.font_14_bold {
  font-weight: 700;
}

/* 16 regular */
.font_16_regular {
  font-weight: 400;
}

/* 16 bold */
.font_16_bold {
  font-weight: 700;
}

.hdr_table, .table_content, .tables, .filters, .menu_item, .hdr_projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

body {
  position: relative;
  width: 1440px;
  height: 2068px;
  background-color: #171E28;
  margin: 0% 0%;
}

header {
  position: absolute;
  width: 100%;
  height: 68px;
  background-color: #242B35;
  left: 0px;
  top: 0px;
  max-width: 100%;
}
header nav div a {
  text-decoration: none;
  text-decoration-line: none;
  color: #B6B4C6;
}
header nav div a:hover {
  text-decoration: none;
  text-decoration-line: none;
  color: #8F7FFF;
}

.hdr_projects {
  position: absolute;
  left: 19.72%;
  right: 11.11%;
  top: 0%;
  bottom: 0%;
}

.menu_item:hover {
  height: 100%;
  background: rgba(143, 127, 255, 0.15);
  text-decoration-color: #8F7FFF;
  border-radius: 0px 2px;
  border-bottom: 6px solid #8F7FFF;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  left: 4.17%;
  right: 84.17%;
  top: 23.53%;
  bottom: 23.53%;
}

.avatar {
  position: absolute;
  left: 92.78%;
  right: 4.17%;
  top: 17.65%;
  bottom: 17.65%;
}

footer div {
  display: flex;
  width: 50%;
  position: absolute;
  height: 18px;
  left: 576px;
  top: 2040px;
  color: #FFFFFF;
}
footer div span {
  color: #8F7FFF;
}

.filters {
  flex-direction: row;
  position: absolute;
  justify-content: space-evenly;
  width: 900px;
  height: 69px;
  left: 25px;
  top: 108px;
}

.filters_section {
  width: 150px;
  color: #B6B4C6;
  align-self: center;
}

.tables {
  flex-direction: row;
}

table, .proj_time {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
table td, .proj_time td {
  padding: 8px 12px;
  white-space: nowrap;
}
table td:last-child, .proj_time td:last-child {
  white-space: normal;
}
table th, .proj_time th {
  text-align: left;
}

.proj_time th {
  text-align: left;
}
.proj_time td {
  border-bottom: 1px solid #3D444E;
}

.table_content {
  flex-direction: column;
}

.row_table {
  background: #2D333D;
  border-radius: 7px;
  margin: 1% 0;
}

.line, .line_4 {
  border: 1px solid #3D444E;
  box-sizing: border-box;
  border-radius: 0;
}

.line_4 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 100%;
  bottom: 0%;
}

.select_text {
  background-color: #242B35;
  color: #B6B4C6;
  width: 100%;
  top: 137px;
  margin: 8px 0;
  padding: 10px 12px;
  border: 1px solid #B6B4C6;
  box-sizing: border-box;
  border-radius: 4px;
}

.select_num {
  background-color: #242B35;
  color: #B6B4C6;
  width: 100%;
  top: 137px;
  margin: 8px 0;
  padding: 10px 12px;
  border: 1px solid #B6B4C6;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type=checkbox] {
  background-color: #8F7FFF;
  color: #FFFFFF;
}

.decor, .decor-sm, .decor-med {
  position: absolute;
  left: 0%;
  right: 98.77%;
  top: 23.6%;
  bottom: 23.6%;
  background: linear-gradient(350.45deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);
  border-radius: 7px 0px 0px 7px;
  transform: rotate(-180deg);
}

.decor-sm {
  left: 0%;
  right: 99.47%;
  top: 19.77%;
  bottom: 19.39%;
}

.scroll {
  position: absolute;
  width: 8px;
  height: 248px;
  left: 630px;
  top: 86px;
  background: rgba(143, 127, 255, 0.25);
  border-radius: 7px;
}

.btn_apply {
  width: 96px;
  height: 40px;
  background: #8F7FFF;
  color: #FFFFFF;
  padding: 8px 28px;
  border: 1px solid #8F7FFF;
  box-sizing: border-box;
  border-radius: 7px;
}
.btn_apply:hover {
  background-color: #f2ff99;
}

.btn_reset {
  width: 143px;
  height: 40px;
  background: #171E28;
  color: #8F7FFF;
  padding: 8px 28px;
  border: 1px solid #8F7FFF;
  box-sizing: border-box;
  border-radius: 7px;
}
.btn_reset:hover {
  background-color: #f2ff99;
  color: #8F7FFF;
}

.card, .eff, .proj, .time, .info {
  position: absolute;
  background: #242B35;
  border: 1px solid #3D444E;
  box-sizing: border-box;
  border-radius: 7px;
}
.card .content, .eff .content, .proj .content, .time .content, .info .content {
  position: absolute;
  left: 0.15%;
  right: 0.15%;
  top: 6.6%;
  bottom: 0.17%;
  text-align: center;
  margin: 0 0 4% 10%;
}

.proj, .time, .info {
  width: 648px;
  height: 606px;
  top: 209px;
}

.info {
  left: 60px;
}

.time {
  left: 732px;
}

.tag {
  border: 1px solid #6F68C6;
  box-sizing: border-box;
  border-radius: 15px;
  align-items: center;
  padding: 2px 12px;
  width: 29%;
  flex-direction: row;
  display: flex;
}

.eff {
  width: 1320px;
  height: 263px;
  left: 60px;
  top: 839px;
}

.scrolling-box {
  overflow-y: scroll;
}

.card_single {
  position: absolute;
  background: #171E28;
  width: 1320px;
  height: 798px;
  left: 60px;
  top: 1142px;
  color: #FFFFFF;
}

.hdr_table {
  position: absolute;
  left: 0%;
  right: 0.08%;
  background: #2D333D;
  border-radius: 7px;
}
.hdr_table table, .hdr_table .proj_time {
  margin: 0 0 0 10%;
}