@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:wght@400;700&display=swap");
/* 14 semibold */
body {
  position: relative;
  width: 1440px;
  height: 2068px;
  background-color: #171E28;
  left: 0px;
  top: 0px;
}

header {
  position: absolute;
  width: 1440px;
  height: 68px;
  left: 0px;
  top: 0px;
}

.logo {
  position: absolute;
  left: 0%;
  right: 80.28%;
  top: 0%;
  bottom: 0%;
}

.logo-image {
  position: absolute;
  left: 4.17%;
  right: 84.17%;
  top: 23.53%;
  bottom: 23.53%;
}

.navbar {
  position: absolute;
  left: 19.72%;
  right: 16.11%;
  top: 0%;
  bottom: 0%;
}

.avatar {
  position: absolute;
  left: 92.78%;
  right: 4.17%;
  top: 17.65%;
  bottom: 17.65%;
}

.menu-item {
  position: absolute;
  left: 2.16%;
  right: 87.66%;
  top: 29.41%;
  bottom: 35.29%;
}

.icon-summary {
  position: absolute;
  left: 0%;
  right: 74.47%;
  top: -1.44%;
  bottom: 1.44%;
}

.text-summary {
  position: absolute;
  left: 29.79%;
  right: 0%;
  top: 6.9%;
  bottom: 5.6%;
  color: #B6B4C6;
}

.line3 {
  position: absolute;
  left: 88.61%;
  right: 6.67%;
  top: 100%;
  bottom: 0%;
  border: 1px solid #3D444E;
  transform: rotate(-90deg);
}

.line4 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 100%;
  bottom: 0%;
  border: 1px solid #3D444E;
}

.decor {
  background: linear-gradient(350.45deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);
  border-radius: 7px 0px 0px 7px;
  transform: rotate(-180deg);
}