@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:wght@400;700&display=swap");
body {
  font: 60% "Source Sans Pro", sans-serif;
  background-color: #171E28;
  padding: 50px;
}