//buttons

@mixin btn($width, $height, $bg-color, $color) {
width: $width;
height: $height;
background: $bg-color;
color: $color;
@include padding(4, 14);
@include border (7px, $main);
}

.btn_apply{
@include btn(96px, 40px, $main, $white);
  &:hover {
    background-color: light-comp($main);
    color: $main
  }
}
.btn_reset{
@include btn(143px, 40px, $primary, $main);
  &:hover {
    background-color: light-comp($main);
    color: $main
  }
}