//buttons
@mixin btn($width, $bg-color: $primary, $color: $main ) {
width: $width;
height: 40px;
background: $bg-color;
color: $color;
@include padding(4, 14);
@include border (7px, $main);
}

.btn_apply{
@include btn(96px, $main, $white);
  &:hover {
    background-color: light-comp($main)
  }
}
.btn_reset{
@include btn(143px);
  &:hover {
    background-color: light-comp($main);
    color: $main
  }
}