//cards

.card {
  position: absolute;
  background: $secondary;
  @include border(7px, $additional);
  .card__name {
    text-align: center;
  }
  .card__content {
    @include position-elem(0.15%, 0.15%, 6.6%, 0.17%);
    margin: 1% 0 4% 10%; //fix
    text-align: center; 
    overflow-y: scroll; 
  }
  .card__decor { 
    border-radius: 7px 0px 0px 7px;
    transform: rotate(-180deg);
    background: $gradient;  
  }  
}

.card__proj-info {
  @extend .card;
  @include layout-main(648px, 606px);
  top: 209px;
  left: 60px;
}
.card__proj-time {
  @extend .card;
  @include layout-main(648px, 606px);
  top: 209px;
  left: 732px;
}
.card__eff {
  @extend .card;
  @include layout-main(1320px, 263px);
  top: 839px;
  left: 60px;
}
.card__single {
  @include layout-main(1320px, 798px);
  position: absolute;
  background: $primary;
  top: 1142px;
  left: 60px;
}

//decors
.card__decor-med {
  @extend .card__decor;  
  @include position-elem(0%, 98.77%, 23.6%, 23.6%);
}
.card__decor-sm {
  @extend .card__decor;
  @include position-elem(0%, 99.47%, 19.77%, 19.39%);
}


