.decor {
  background: linear-gradient(350.45deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);
  border-radius: 7px 0px 0px 7px;
  transform: rotate(-180deg);
}

// main color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "main": $main,
  "white": $white,
  "light": $light,
  "lil": $lil,
  "error": $error,
  "green": $green
);

@each $key, $val in $colors {
  .color-#{$key} {
    color: $val;
  }
}

