//small components

//links
@mixin link ($color: $light) {
  text-decoration: none;
  text-decoration-line: none;
  color: $color  
}

//lines
.line {
  @include border(0, $additional);  
}

//tag
.tag{
  @include border(15px, $border);
  align-items: center;
  @include padding(1, 6);
  width: 29%;
  flex-direction: row;
  display: flex;
}

//scroll
.scroll {
  position: absolute;
  width: 8px;
  height: 248px;
  left: 630px;
  top: 86px;
  background: rgba(143, 127, 255, 0.25);
  border-radius: 7px;
}

//for pagination
.pages {
  @extend %flex-layout;
  background: rgba(143, 127, 255, 0.25);
}