//small components

//lines
.line {
  @include border(0, $additional);  
}
.line_4 {
  @extend .line;
  @include layout-elem(0%, 0%, 100%, 0%);
}

//select form
@mixin select{
  background-color: $secondary;
  color: $light;
  width: 100%;
  top: 137px;
  @include margin(8px, 0);
  @include padding(5, 6);
  @include border(4px, $light)
}
.select_text{
  @include select();
}
.select_num{
  @include select();
}

//checkbox form
input[type="checkbox"]{
  background-color: $main;
  color: $white;
}

//decors
.decor {
  position: absolute;
left: 0%;
right: 98.77%;
top: 23.6%;
bottom: 23.6%;
background: linear-gradient(350.45deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);
  border-radius: 7px 0px 0px 7px;
  transform: rotate(-180deg);
}
.decor-med {
  @extend .decor;
  
}
.decor-sm {
  @extend .decor;
  left: 0%;
right: 99.47%;
top: 19.77%;
bottom: 19.39%;
}

//scroll
.scroll {
  position: absolute;
width: 8px;
height: 248px;
left: 630px;
top: 86px;
background: rgba(143, 127, 255, 0.25);
border-radius: 7px;
}


.pages {
  @extend %flex-layout;
  background: rgba(143, 127, 255, 0.25);
}