//components (buttons, navbar, footer)

//logo
.logo {
  @include layout-elem(4.17%, 84.17%, 23.53%, 23.53%)
}

//nav
.hdr_projects {
  @include layout-elem(19.72%, 11.11%, 0%, 0%);
  display:flex;
  justify-content: space-between;
}
.menu_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  &:hover{
    background: $main-hover;
    text-decoration-color: $main;
    border-radius: 0px 2px ;
    border-bottom: $base-border * 6 solid $main;
  }
}
//avatar
.avatar {
  @include layout-elem(92.78%, 4.17%, 17.65%, 17.65%)
}

//lines
.line {
  @include border(0, $additional);  
}
.line_4 {
  @extend .line;
  @include layout-elem(0%, 0%, 100%, 0%);
}

//filters
.filters{
display:flex;
flex-direction: row;
align-items: center;
position: absolute;
width: 900px;
height: 69px;
left: 60px;
top: 108px;
justify-content: space-evenly;
}
.filters_section{
  // position: absolute;
  width: 150px;
  color: $light;
  align-self: center;
}
@mixin select{
  background-color: $secondary;
  color: $light;
  border: $base-border solid $light;
  border-radius: 4px;
  width: 100%;
  top: 137px;
  @include margin(8 px, 0);
  @include padding(5, 6);
}
.select_text{
  @include select();
}
.select_num{
  @include select();
}
input[type="checkbox"]{
  background-color: $main;
  color: $white;
}

//tables
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  td {
  @include padding(4, 6);
  white-space: nowrap;
    &:last-child{
      white-space: normal;
    }
  }
}
.proj_time {
  @extend table;
  th{

  }
  td {
    border-bottom: $base-border solid $additional;
  }
}

//decor
.decor {
  position: absolute;
left: 0%;
right: 98.77%;
top: 23.6%;
bottom: 23.6%;
}
.decor-med {
  @extend .decor;
  background: linear-gradient(350.45deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);
  border-radius: 7px 0px 0px 7px;
  transform: rotate(-180deg);
}
//scroll
.scroll {
  position: absolute;
width: 8px;
height: 248px;
left: 630px;
top: 86px;
background: rgba(143, 127, 255, 0.25);
border-radius: 7px;
}


