//filters container

.filters {
  @extend %flex-layout;
  flex-direction: row;
  justify-content: space-evenly; 
  
  .filters__section{
    width: 150px;
    color: $light;
    align-self: center;
  }
}
.filters_view-lead {
  @include position-elem(25px, 0, 108px, 0);
  @include layout-main(900px, 69px);
}


