@mixin font($font-size: $base-font-size, $line-height: $base-line-height, $font-weight: $base-font-weight){
  font-family: $font-family;
  font-style: normal;
  font-size: $font-size; 
  font-weight: $font-weight;
}
/* 12 regular */
.font12_rgl {
  @include font($base-font-size - 2);
}
/* 12 semibold */
.font12_sbld {
  @include font($base-font-size - 2);
  font-weight: $base-font-weight * 1.5;
}

/* 14 regular */
.font14_rgl {
  @include font();
}
/* 14 semibold */
.font14_sbld {
  @include font();
  font-weight: $base-font-weight * 1.5;
}
/* 14 bold */
.font14_bld {
  @include font();
  font-weight: $base-font-weight * 1.75;
}
  
/* 16 regular */
.font16_rglr {
  @include font($base-font-size + 2, $base-line-height + 1);
}
/* 16 bold */
.font16_bld {
  @include font($base-font-size + 2, $base-line-height + 1, $base-font-weight * 1.75);
}