.font {
  font-family: $font-family;
  font-style: normal;
  font-size: $base-font-size;
}
.font_14 {
  @extend .font;
  line-height: $base-line-height;
}
.font_16 {
  @extend .font;
  font-size: $base-font-size + 2;
  line-height: $base-line-height + 1;
}
/* 14 regular */
.font_14_regular {
  @extend .font_14;
  font-weight: $base-font-weight;
}

/* 14 semibold */
.font_14_semibold {
  @extend .font_14;
  font-weight: $base-font-weight * 1.5;
}
  /* 14 bold */
.font_14_bold {
  @extend .font_14;
  font-weight: $base-font-weight * 1.75;
}
  
/* 16 regular */
.font_16_regular {
  @extend .font_14;
  font-weight: $base-font-weight;
}
/* 16 bold */
.font_16_bold {
  @extend .font_16;
  font-weight: $base-font-weight * 1.75;
}