body {
position: relative;
// width: 1440px;
height: 2068px;
background-color: #171E28;
margin: 0%;

  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;

  // font-family: $font-family;
  // background-color: $primary;
  // margin: 0;
  
}
header {
position: absolute;
width: 100%;
height: 68px;
left: 0px;
top: 0px;
background: $secondary;
max-width: 100%;
  // position: absolute;
 // display: flex;
  // align-items: center;
  // padding-right: 5%;
  // padding-left: 5%;
  // height: 10vh;
  
  // left: 0%;
  // right: 0%;
  // top: 0%;
  // bottom: 0%;
}
.logo {
  position: absolute;
  left: 0%;
  right: 80.28%;
  top: 0%;
  bottom: 0%;
}
.logo-image {
  position: absolute;
  left: 4.17%;
  right: 84.17%;
  top: 23.53%;
  bottom: 23.53%;
}
.hdr_projects {
  position: absolute;
  left: 19.72%;
  right: 16.11%;
  top: 0%;
  bottom: 0%;
  display:flex;
  justify-content: space-between;
  
     
    // display: inline-block;
    
    // justify-content: space-between;
    // align-items: center;
    
  
    // width: 1440px;
    // height: 68px;
    // left: 0px;
    // top: 0px;
}
.menu_item {
  display: flex;
  height: 100%;
  align-items: center;
  
};
.menu_item:hover{
  background: $main-hover;
  text-decoration-color: $main;
  border-radius: 0px 0px 2px 2px;
  border-bottom: $main solid 6px;
}

.avatar {
  position: absolute;
  left: 92.78%;
  right: 4.17%;
  top: 17.65%;
  bottom: 17.65%;
}
// .menu-item-summary {
// position: absolute;
// left: 2.16%;
// right: 87.66%;
// top: 29.41%;
// bottom: 35.29%;
// }

// .icon-summary {
// position: absolute;
// left: 0%;
// right: 74.47%;
// top: -1.44%;
// bottom: 1.44%;
// }
// .text-summary {
// position: absolute;
// left: 29.79%;
// right: 0%;
// top: 6.9%;
// bottom: 5.6%;
// // font: $14-semibold;
// }
header nav div a {
  color: $text-color-light;
  text-decoration: none;
  text-decoration-line: none;
}
header nav div a:hover {
  color: $main;
  text-decoration: none;
  text-decoration-line: none;
}


.line_3 {
position: absolute;
left: 88.61%;
right: 6.67%;
top: 100%;
bottom: 0%;
border: 1px solid #3D444E;
transform: rotate(-90deg);
}
.line_4 {
position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: 0%;
border: 1px solid #3D444E;
}


// .my-div{
//   @extend header;
//   font-family: $header-font;
// }

// .container {
//   display: flex;
//   justify-content: space-around;

//   div {
//     text-align: center;

//     p {
//       text-decoration: underline;
//     }

//     &:hover {
//       background-color: $main-color;
//     }
//   }
// }

// @mixin header-styles {
//   padding: 5px;
//   text-decoration: none;
//   font-size: 1.5em;
// }
// h1 {
//   @include header-styles();
//   color: $main-color;
// }

// @mixin square($side-length) {
//   width: 2 * $side-length;
//   height: $side-length;  
// }
// .medium-square{
//   @include square(25px);
// }
// .large-square{
//   @include square(50px);
// }

// // @media only screen and (min-width: 600px){
// //   body {
// //     background-color: white;
// //     display: none;
// //   }
// // }
// // @media only screen and (orientation: landscape){
// //   body {
// //     background-color: yellow;
// //     width: calc(2 * 3px);
// //   }
// // }