@mixin layout-main($position, $width, $height, $bg-color){
  position: $position;
  width: $width;
  height: $height;
  background-color: $bg-color;
}
@mixin layout-elem($left, $right, $top, $bm){
  position: absolute;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bm;
}
%flex-layout{
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100%;
  flex-grow: 1;
}
@mixin a ($color: $light) {
  text-decoration: none;
  text-decoration-line: none;
  color: $color  
}

body {
  @include layout-main(relative, 1440px, 2068px, $primary); 
  @include margin();
}

header {
  @include layout-main(absolute, 100%, 68px, $secondary);
  left: 0px;
  top: 0px;
  max-width: 100%;

  nav div a {
    @include a;
    &:hover {
      @include a($main)
    }
  }
}


// .menu-item-summary {
// position: absolute;
// left: 2.16%;
// right: 87.66%;
// top: 29.41%;
// bottom: 35.29%;
// }

// .icon-summary {
// position: absolute;
// left: 0%;
// right: 74.47%;
// top: -1.44%;
// bottom: 1.44%;
// }
// .text-summary {
// position: absolute;
// left: 29.79%;
// right: 0%;
// top: 6.9%;
// bottom: 5.6%;
// // font: $14-semibold;
// }




// .my-div{
//   @extend header;
//   font-family: $header-font;
// }

// .container {
//   display: flex;
//   justify-content: space-around;

//   div {
//     text-align: center;

//     p {
//       text-decoration: underline;
//     }

//     &:hover {
//       background-color: $main-color;
//     }
//   }
// }

// @mixin header-styles {
//   padding: 5px;
//   text-decoration: none;
//   font-size: 1.5em;
// }
// h1 {
//   @include header-styles();
//   color: $main-color;
// }

// @mixin square($side-length) {
//   width: 2 * $side-length;
//   height: $side-length;  
// }
// .medium-square{
//   @include square(25px);
// }
// .large-square{
//   @include square(50px);
// }

// // @media only screen and (min-width: 600px){
// //   body {
// //     background-color: white;
// //     display: none;
// //   }
// // }
// // @media only screen and (orientation: landscape){
// //   body {
// //     background-color: yellow;
// //     width: calc(2 * 3px);
// //   }
// // }