//navbar

.nav__menu {
  @include position-elem(19.72%, 11.11%, 0%, 0%);
  @extend %flex-layout;

  .nav__item {
  @extend %flex-layout;
    &:hover{
      height: 100%;
      background: $main-hover;
      text-decoration-color: $main;
      @include border(0px, $main);
      border: none;
      border-radius: 0px 2px ;
      border-bottom: $base-border * 6 solid $main;
    }
    .nav__lnk  {
      @include link;
      &:hover {
        @include link($main)
      }
    }
  }

  .nav__line {
  @extend .line;
  width: $head-height;
  transform: rotate(-90deg);
  }   
}


