//tables
.tables {
  @extend %flex-layout;
  flex-direction: row;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  td {
  @include padding(4, 6);
  white-space: nowrap;
    &:last-child{
      white-space: normal;
    }
  }
  th {
    text-align: left;
  }
}
.proj_time {
  @extend table;
  th{
    text-align: left;
  }
  td {
    border-bottom: $base-border solid $additional;
  }
}

.table_content {
  @extend %flex-layout;
  flex-direction: column;
}
.row_table {
  background: #2D333D;
  border-radius: 7px;
  margin: 1% 0;
}

