//tables

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  .td {
    @include padding(4, 6);
    white-space: nowrap;
    &:last-child {
      white-space: normal;
    }
  } 
  .th {
    text-align: left;
  }
  .tr-boardered {
    border-bottom: $base-border solid $additional;
  }
}

.table__info {
  @extend .table;
}
.table__time {
  @extend .table;
}
.table__estim {
  @extend .table;
}
.table__snglproj{
  @extend .table;
  text-align: center;
  .tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .td-sm {
    white-space: normal;
    width: 15%;
    padding: 5px;
  } 
}
