//utilities (borders, margin, padding, opacity)

@mixin border($radius, $color){
  border: $base-border solid $color;
  box-sizing: border-box;
  border-radius: $radius;
}
@mixin margin ($k1: 0%, $k2: 0%){
  margin:$k1 $k2;
}
@mixin padding ($k: 1, $k2: 1){
  padding: 2px * $k 2px * $k2;
}