// import google font
@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


//theme colors
$primary: #171E28;
$secondary: #242B35;
$additional: #3D444E;
$highlighter: #2D333D;
$main: #8F7FFF;
$main-hover: rgba(143, 127, 255, 0.15);
$border:#6F68C6;
$light: #B6B4C6;
$lil: #C7BFFF;
$white: #FFFFFF;
$error: #FF6A59;
$green: #27AE60;

$gradient: linear-gradient(350.45deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);

//fonts
$font-family: 'Open Sans', sans-serif;
$base-font-size: 14px;
$base-line-height: 21px;
$base-font-weight: 400;

$base-border: 1px;

$base-width: 1440px;
$base-height: 2068px;

$lead-width: 1440px;
$lead-height: 2068px;

$head-width: $base-width;
$head-height: math.div($base-height * 3, 100);


//functions
@function light-comp($color) {
  $complement: complement($color);
  $light-complement: lighten($complement, 5);
  @return $light-complement;
}
