// import google font
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:wght@400;700&display=swap');

//theme colors
$primary: #171E28;
$secondary: #242B35;
$main: #8F7FFF;
$main-hover: rgba(143, 127, 255, 0.15);
$text-color-light: #B6B4C6;
$text-color-main: #FFFFFF;
$text-color-primary: #C7BFFF;
$text-color-error: #FF6A59;
$text-color-additional: #27AE60;

//fonts
$font-family: 'Source Sans Pro', sans-serif;

/* 14 semibold */
// $14-semibold {
// font-family: 'Open Sans';
// font-style: normal;
// font-weight: 600;
// font-size: 14px;
// line-height: 21px;
// }