// import google font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

//theme colors
$primary: #171E28;
$secondary: #242B35;
$additional: #3D444E;
$highlighter: #2D333D;
$main: #8F7FFF;
$main-hover: rgba(143, 127, 255, 0.15);
$border:#6F68C6;
$light: #B6B4C6;
$lil: #C7BFFF;
$white: #FFFFFF;
$error: #FF6A59;
$green: #27AE60;

//fonts
$font-family: 'Open Sans', sans-serif;
$base-font-size: 14px;
$base-line-height: 21px;
$base-font-weight: 400;

$base-border: 1px;

//functions
@function light-comp($color) {
  $complement: complement($color);
  $light-complement: lighten($complement, 5);
  @return $light-complement;
}
